= render Table::Component.new do |c|
  - c.with_column(size: :sm) { '' } if show_actor_column?
  - c.with_column(size: :sm) { Network.model_name.human }
  - c.with_column(size: :sm) { Network.human_attribute_name(:cloud_id) }
  - c.with_column(size: :sm) { Address.model_name.human.pluralize }
  - c.with_column(size: :sm) { Domain.model_name.human.pluralize }
  - c.with_column(size: :sm) { '' }
  - c.with_column(size: :sm) { '' }

  - networks.each do |network|
    - c.with_table_row(classes: 'group') do
      - if show_actor_column?
        %td.pl-3.py-2.text-center.text-xs= render ActorChip::Component.new(network.actor, text: network.actor.abbreviation)
      %td.px-3.py-2.flex.flex-col
        = link_to network.name, [network.exercise, network], class: 'text-indigo-600 hover:text-indigo-900 dark:text-indigo-400 dark:hover:text-indigo-200'
        %small.opacity-70= network.abbreviation

      %td.px-3.py-2.whitespace-nowrap.text-sm
        .only:block.hidden.opacity-70
          %em (None)
        = render Tooltip::Text::Component.new(network, text: network.cloud_id) if network.cloud_id

      %td.px-3.py-2.whitespace-nowrap.text-sm.flex.flex-col
        .only:block.hidden.opacity-70
          %em (None)
        - network.address_pools.select(&:network_address).sort_by(&:ip_family).each do |pool|
          %p= render Tooltip::AddressPool::Component.new(pool)

      %td.px-3.py-2.whitespace-nowrap
        - network.domain_bindings.map(&:full_name).each do
          %p= render Tooltip::Text::Component.new(network, text: it)

      %td.px-3.py-2
        = render HoverGroup::Component.new do |c|
          - if network.description.present?
            - c.with_button(icon: 'fa-file-lines') do
              = simple_format(network.description)

      %td.px-6.py-4.whitespace-nowrap.text-right.opacity-0.group-hover:opacity-100.transition-opacity
        - if allowed_to?(:destroy?, network)
          = link_to [network.exercise, network], data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' } do
            %i.fas.fa-times-circle.text-red-600

  - if networks.empty?
    - c.with_table_row do
      %td{colspan: 99}= render Emptylisting::Component.new(klass: Network)
