-# frozen_string_literal: true

- data = { controller: 'model', action: "change->model#update" } if @network.persisted?
= simple_form_for([@network.exercise, @network], html: { autocomplete: "off", data: }) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  = render ColumnFormSectionComponent.new do |c|
    - c.with_description do
      %h3.text-lg.leading-6.text-gray-900.dark:text-gray-50 Identity
      %p.mt-1.text-sm.text-gray-600.dark:text-gray-400
        Name and abbreviation for this network

    - c.with_main do
      .px-4.py-5.bg-white.dark:bg-gray-800.space-y-6.sm:p-6
        .grid.grid-cols-3.gap-4
          .col-span-2= f.input :name
          = f.input :abbreviation

        .flex.gap-4
          .grow= f.association :actor, collection: sorted_tree_options(authorized_scope(@exercise.actors)), input_html: { data: { controller: 'select' } }
          - if @network.persisted?
            .w-40= f.input :visibility, collection: visibility_modes, include_blank: false, input_html: { data: { controller: 'select' } }
        = f.input :description

      - if allowed_to?(:update?, @network) && !@network.persisted?
        .px-4.py-3.bg-slate-200.dark:bg-gray-500.text-right.sm:px-6
          = f.button :submit, 'Save', class: 'form-submit'

  - if @network.persisted?
    .py-5
      .border-t.border-gray-200.dark:border-gray-600

    = render ColumnFormSectionComponent.new do |c|
      - c.with_description do
        %h3.text-lg.leading-6.text-gray-900.dark:text-gray-50 Connection
        %p.mt-1.text-sm.text-gray-600.dark:text-gray-400
          Backing connection for this network in virtualized environment

        %p.mt-1.text-sm.text-gray-600
          = Network.human_attribute_name(:cloud_id)
          field accept
          %char #
          as substitution character, replaced by BT number

      - c.with_main do
        .px-4.py-5.bg-white.dark:bg-gray-800.space-y-6.sm:p-6
          .grid.grid-cols-3.gap-6
            .col-span-2= f.input :cloud_id

    .py-5
      .border-t.border-gray-200.dark:border-gray-600

    = render ColumnFormSectionComponent.new do |c|
      - c.with_description do
        %h3.text-lg.leading-6.text-gray-900.dark:text-gray-50 DNS
        %p.mt-1.text-sm.text-gray-600.dark:text-gray-400
          Nameserver related settings

        %p.mt-1.text-sm.text-gray-600.dark:text-gray-400
          = Network.human_attribute_name(:domain)
          field accept
          %char #
          as substitution character, replaced by BT number


      - c.with_main do
        .px-4.py-5.bg-white.dark:bg-gray-800.space-y-6.sm:p-6
          .grid.grid-cols-3.gap-6
            .col-span-2
              = f.label :domain
              = render SplitInputComponent.new do |split|
                - split.with_input(form_helper: f, field: :domain)
                - split.with_right_cell do
                  = ".#{f.object.exercise.root_domain}"

          = f.input :ignore_root_domain
