- if @networks.any?
  - @actors.each do |actor, sub|
    - if (@networks.keys & actor.subtree).any?
      .py-4.text-center.text-xl.font-semibold= render ActorChip::Component.new(actor:)
      .pb-5
        .border-t.border-gray-200.dark:border-gray-600

      = render Table::Component.new do |c|
        = render 'result_set', actor:, c:, sub:
- else
= render Emptylisting::Component.new(klass: Network) do
  - if allowed_to?(:create?, :network)
    = link_to "Create the first network", [:new, @exercise, :network], class: 'text-indigo-600 hover:text-indigo-900 dark:text-indigo-400 dark:hover:text-indigo-200'
    to get started
