.w-full
  = form_with(model: service_subject_match_condition, url: exercise_service_service_subject_condition_path(@service.exercise, @service, service_subject, service_subject_match_condition.id), method: :patch, data: { controller: 'model', action: "change->model#update" }, html: { inert: !allowed_to?(:update?, service_subject) }) do |form|
    .flex.grow.gap-x-2
      .grow{class: 'basis-1/3'}
        .font-bold.text-gray-700.dark:text-gray-200= service_subject_match_condition.class.human_attribute_name(:matcher_type)
        = form.collection_select :matcher_type, service_subject_types, :last, :first, { include_blank: service_subject_match_condition.matcher_type.blank? }, { class: 'form-input', disabled: !allowed_to?(:update?, @service), data: { controller: 'select'} }

      - if service_subject.errors[:matcher_type].any?
        %span.text-red-600= vm.errors[:matcher_type].join(', ')

      .grow{class: 'basis-1/3'}
        .font-bold.text-gray-700.dark:text-gray-200= service_subject_match_condition.class.human_attribute_name(:matcher_id)
        = form.collection_select :matcher_id, subject_selector_scope(service_subject_match_condition), :last, :first, { include_blank: service_subject_match_condition.matcher_id.blank? || !service_subject_match_condition.matched.exists? }, { class: 'form-input', disabled: !allowed_to?(:update?, @service), data: { controller: 'select'} }

      .flex.flex-col.gap-1
        = render Form::Toggle::Component.new(form, field: :invert, disabled: !allowed_to?(:update?, @service))

      - if service_subject.errors[:matcher_id].any?
        %span.text-red-600= vm.errors[:matcher_id].join(', ')

      - if allowed_to?(:update?, service_subject)
        %div.mt-6
          = link_to 'javascript:;', data: { action: "model#delete" } do
            %i.fas.fa-times-circle.text-red-600
