- net_scope = authorized_scope(@exercise.networks).where(id: @virtual_machine.network_ids)
- cache([@virtual_machine.cache_key_with_version, 'address_preview', net_scope.cache_key_with_version]) do
  = render TableComponent.new do |c|
    - @virtual_machine.host_spec.deployable_instances(AddressPreviewPresenter).group_by(&:team_number).each do |team_nr, instances|
      - c.with_table_row do
        %td.text-center.font-lg.font-bold.py-2{colspan: 100, class: actor_color_classes(team_nr ? @virtual_machine.numbered_actor : @virtual_machine.actor)}
          - if team_nr
            = @virtual_machine.numbered_actor.name
            %strong= team_nr.to_s.rjust(2, "0")
          - else
            = @virtual_machine.actor.name

      - instances.each do |instance|
        - c.with_table_row do
          %td.px-6.py-4.align-top.text-lg{data: { controller: 'clipboard', clipboard_success_content_value: '<i>✓</i>'}}
            %span{data: {clipboard_target: 'source'}}<= instance.name
            %button.px-2{type: "button", data: {clipboard_target: 'button', action: "clipboard#copy"}}
              %i.fas.fa-clipboard

          %td.px-6.py-4.space-y-3
            - instance.interfaces.each do |interface|
              - next if !allowed_to?(:show?, interface[:network])
              %div
                %h4= interface[:name]
                .grid.grid-flow-col.auto-cols-max.space-x-4.text-sm
                  - interface[:addresses].each do |address|
                    .inline-block.rounded.bg-gray-700.text-white.px-2.py-1{data: { controller: 'clipboard', clipboard_success_content_value: '<i>✓</i>'}}
                      %span{data: {clipboard_target: 'source'}}<= address[:address] || I18n.t("address_modes.#{address[:mode]}")
                      %button.px-2{type: "button", data: {clipboard_target: 'button', action: "clipboard#copy"}}
                        %i.fas.fa-clipboard
