= turbo_stream.replace "new_network_interface" do
  = render NetworkInterfaceForm::Component.new(network_interface: @network_interface)

= simple_form_for([@exercise, @virtual_machine]) do |f|
  = turbo_stream.update "deployment_section" do
    = render "virtual_machines/deployment_section", f:

= turbo_stream.update "connection_info" do
  = render "virtual_machines/connection_info", vm: @network_interface.virtual_machine