= turbo_stream.remove dom_id(@network_interface)
= turbo_stream.update "connection_info" do
  = render "virtual_machines/connection_info", vm: @network_interface.virtual_machine

- @network_interface.virtual_machine.customization_specs.each do |spec|
  = turbo_stream.replace dom_id(spec) do
    = render spec

- @network_interface.virtual_machine.network_interfaces.each do |nic|
  = turbo_stream.replace dom_id(nic) do
    = render NetworkInterfaceForm::Component.new(network_interface: nic)

= simple_form_for([@exercise, @virtual_machine]) do |f|
  = turbo_stream.update "deployment_section" do
    = render "virtual_machines/deployment_section", f:
