= turbo_frame_tag 'editable_cred' do
  %article[@credential]
    = form_with(model: @credential, url: [@exercise, @credential_set, @credential], class: 'hidden', data: { controller: 'model', action: "change->model#update"}, id: dom_id(@credential, :secondary)) do |form|
      &nbsp;
    = form_with(model: @credential, url: [@exercise, @credential_set, @credential], class: 'p-3', data: { controller: 'model', action: "change->model#update"}) do |form|
      %fieldset
        .grid.grid-cols-2.gap-x-2.gap-y-8
          %div
            = form.label :name, class: 'font-bold text-gray-700 dark:text-gray-200 text-right basis-1/6'
            = form.text_field :name, class: 'form-input', id: "#{dom_id(@credential)}_name"

          %div
            .flex
              .grow= form.label :password, class: 'font-bold text-gray-700 dark:text-gray-200 text-right basis-1/6', for: "#{dom_id(@credential)}_password"
              - if @credential.persisted?
                %button.text-white.bg-gradient-to-r.from-cyan-500.to-blue-500.hover:bg-gradient-to-bl.focus:ring-4.focus:outline-none.focus:ring-cyan-300.dark:focus:ring-cyan-800.font-medium.rounded-lg.text-sm.px-2.text-center{class: "py-0", type: "submit", name: "credential[randomize_password]", form: dom_id(@credential, :secondary)}
                  %i.fas.fa-dice
                  Randomize

            .mt-1= form.text_field :password, class: 'form-input', id: "#{dom_id(@credential)}_password"

          %div
            = form.label :username, class: 'font-bold text-gray-700 dark:text-gray-200 text-right basis-1/6'
            %p= @credential.username

          %div
            = form.label :email, class: 'font-bold text-gray-700 dark:text-gray-200 text-right basis-1/6'
            %p= render LiquidTextComponent.new({ text: @credential.email }, object: @credential_set.network)

    = form_with(model: ConfigMapForm.new(@credential), url:  [@exercise, @credential_set, @credential], id: dom_id(@credential, 'config_map_form'), data: { controller: 'model', action: "change->model#update"}) do |form|
      .px-2.py-8.max-w-full
        = form.label :config_map, class: 'font-bold text-gray-700 dark:text-gray-200 text-right basis-1/6'
        = form.text_area :config_map_as_yaml, data: {controller: 'editor'}
