%article[credential]
  = form_with(model: credential, url: [@exercise, @credential_set, credential], class: 'p-3 group', data: { controller: 'model', action: "change->model#update"}) do |form|
    %fieldset{disabled: false }
      .flex.gap-3.items-center
        %div
          = form.label :name, class: 'font-bold text-gray-700 dark:text-gray-200 text-right basis-1/6'
          = form.text_field :name, class: 'form-input', id: "#{dom_id(credential)}_name"

        %div
          = form.label :password, class: 'font-bold text-gray-700 dark:text-gray-200 text-right basis-1/6', for: "#{dom_id(credential)}_password"
          = form.text_field :password, class: 'form-input', id: "#{dom_id(credential)}_password"

        - if credential.persisted?
          %div
            = form.label :username_override, class: 'font-bold text-gray-700 dark:text-gray-200 text-right basis-1/6', for: "#{dom_id(credential)}_username_override"
            = form.text_field :username_override, class: 'form-input', placeholder: credential.username, id: "#{dom_id(credential)}_username_override"

          .grow
            = form.label :email_override, class: 'font-bold text-gray-700 dark:text-gray-200 text-right basis-1/6', for: "#{dom_id(credential)}_email_override"
            = form.text_field :email_override, class: 'form-input', placeholder: credential.email, id: "#{dom_id(credential)}_email_override"

          %div
            = form.label :read_only, class: 'block font-bold text-gray-700 dark:text-gray-200' do
              = Credential.human_attribute_name(:read_only)
            %label.flex.items-center.cursor-pointer.justify-center.mt-3{class: 'mb-2.5'}
              = form.check_box :read_only, class: 'sr-only peer', disabled: false, id: "#{dom_id(credential)}_read_only"
              .relative.w-11.h-6.bg-gray-200.peer-focus:outline-none.peer-focus:ring-4.peer-focus:ring-blue-300.dark:peer-focus:ring-blue-800.rounded-full.peer.dark:bg-gray-700.peer-checked:after:translate-x-full.rtl:peer-checked:after:-translate-x-full.peer-checked:after:border-white.after:absolute.after:bg-white.after:border-gray-300.after:border.after:rounded-full.after:w-5.after:h-5.after:transition-all.dark:border-gray-600.peer-checked:bg-blue-600{class: "after:content-[''] after:top-[2px] after:start-[2px]"}

          - if allowed_to?(:destroy?, credential)
            .opacity-0.group-hover:opacity-100.transition-opacity
              = link_to 'javascript:;', data: { action: "model#delete", turbo_confirm: 'Are you sure?' } do
                %i.fas.fa-times-circle.text-red-500


        - else
          = form.submit :save, class: 'form-submit'
