= turbo_frame_tag 'editable_cred' do
  %article.p-2[@credential]
    %h3.text-xl.text-center New credential

    = form_with(model: @credential, url: [@exercise, @credential_set, @credential], class: 'p-3 group') do |form|
      %fieldset
        .mb-2
          = form.label :name, class: 'font-bold text-gray-700 dark:text-gray-200 text-right basis-1/6'
          = form.text_field :name, class: 'form-input', id: "#{dom_id(@credential)}_name"

        = form.submit :save, class: 'form-submit'
