.py-5
  .border-t.border-gray-200.dark:border-gray-600

= render ColumnFormSectionComponent.new(shadow: false) do |c|
  - c.with_description do
    %h3.text-lg.leading-6.text-gray-900.dark:text-gray-50 Archival & Cloning
    %p.mt-1.text-sm.text-gray-600.dark:text-gray-400
      If this environment is no longer in active use, it can be archived. Archived environments are hidden in UI, but still accessible from API.

    %p.mt-1.text-sm.text-gray-600.dark:text-gray-400
      Cloning the environment will create a duplicate of the current state of
      %strong= @exercise.name
      \.

  - c.with_main do
    .flex.flex-row-reverse.gap-x-2.leading-8
      - if allowed_to?(:archive?, @exercise)
        = link_to exercise_path(@exercise, exercise: { archived: true }), class: 'inline-flex items-center justify-center py-2 px-4 border border-transparent shadow-xs text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-hidden focus:ring-2 focus:ring-offset-2 focus:ring-red-500', data: { turbo_method: :put, turbo_confirm: "Are you sure you want to archive #{@exercise.name}?"} do
          %i.fas.fa-box.mr-2
          Archive

      - if allowed_to?(:clone?, @exercise)
        = link_to exercise_clone_path(@exercise), class: 'inline-flex items-center justify-center py-2 px-4 border border-transparent shadow-xs text-sm font-medium rounded-md text-white bg-orange-600 hover:bg-orange-700 focus:outline-hidden focus:ring-2 focus:ring-offset-2 focus:ring-orange-500' do
          %i.fas.fa-clone.mr-2
          Clone
