%li.px-4.my-2.group{id: dom_id(credential, 'list_item')}
  .flex.items-center
    = link_to credential.name, [@exercise, @credential_set, credential], class: 'grow text-lg font-bold', data: { turbo_frame: "editable_cred" }
    - if allowed_to?(:destroy?, credential)
      .opacity-0.group-hover:opacity-100.transition-opacity
        = link_to [@exercise, @credential_set, credential], data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' } do
          %i.fas.fa-times-circle.text-red-600

  .flex.items-center.gap-1
    .grow.opacity-60.text-sm= credential.email

    - %i(username password email).each do |cred_attr|
      %div{data: { controller: 'clipboard', clipboard_success_content_value: '<i>✓</i>'}}
        %span.hidden{data: {clipboard_target: 'source'}}<= credential.public_send(cred_attr)
        = link_to 'javascript:;', data: {action: "clipboard#copy"} do
          %span.inline-flex.items-center.gap-1.bg-blue-100.text-blue-800.text-xs.font-medium.rounded.dark:bg-blue-900.dark:text-blue-300{class: "px-2.5 py-0.5"}
            %span{data: {clipboard_target: 'button'}}
              %i.fas.fa-clipboard
            = Credential.human_attribute_name(cred_attr)
