= render SubResourceSectionComponent.new(header: 'Credentials list') do |section|
  - if allowed_to?(:create?, Credential.new(credential_set: @credential_set))
    - section.with_button do
      = link_to [:new, @exercise, @credential_set, :credential], data: { turbo_frame: "editable_cred" }, class: 'form-submit-add' do
        %i.fas.fa-plus.self-center
        Add credential

    - section.with_button do
      = render ModalComponent.new(header: 'Bulk import credentials') do |c|
        - c.with_body do
          = form_with(url: import_exercise_credential_set_credentials_path(@exercise, @credential_set), data: { action: "modal#close"}) do |f|
            %p Importer is using following YAML format
            %code
              %pre
                :plain
                  ---
                  credentials:
                    - name: User Name
                      password: My.Password
                      custom_fields: # freeform import to configmap

            .my-1= f.text_area :import_yaml, data: {controller: 'editor', editor_live_value: false}
            .my-2= f.submit :save, class: 'form-submit'

        = link_to 'javascript:;', class: 'form-submit', data: { action: "click->dialog#open" } do
          Bulk import

  .grid.grid-cols-12.mb-8
    %aside.col-span-6
      %ul#credential-list.py-3.overflow-y-auto{class: 'h-[50vh]'}
        - @credential_set.credentials.order(:name).each do |credential|
          = render 'credential_list_row', credential:

    = turbo_frame_tag 'editable_cred', class: 'col-span-6 border-l-4 border-double border-zinc-500 bg-zinc-100 dark:bg-zinc-800' do
      = render 'empty'
